<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Tailwind CSS CDN -->
    <script src="https://cdn.tailwindcss.com"></script>
    
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

        .font-poppins {
            font-family: 'Poppins', sans-serif;
        }

        .font-baloo {
            font-family: 'Baloo Bhai 2', cursive;
        }
    </style>

</head>

<body>

    <div class="bg-neutral-800 relative rounded-md shadow-md w-80 mx-auto">
        <div class="w-full h-80 overflow-hidden">
            <img src="https://static.rancherscafe.com/products/sku/images/thin%2Bcrust.webp" alt="Thin Crust Pizza"
                class="w-full h-full object-cover" loading="lazy" />
        </div>

        <div class="pb-8 pt-2 px-4">
            <p class=" text-yellow-500 font-poppins text-2xl  font-bold">Thin Crust Pizza</p>
            <p class=" text-sm text-white font-poppins mt-1 line-clamp-2">
                Crispy Sides Crust: Creamy Sauce, Extra Cheesy, Chicken Tikka, Fajita Mix,
                Black Olives, Sausages, and Vegetables.
            </p>
            <p class="text-3xl font-poppins font-bold text-yellow-500">Rs. 1199</p>
        </div>

 
        <button class="absolute w-1/2 left-1/2 flex items-center  font-bold font-poppins -bottom-4 -translate-x-1/2 bg-red-500 text-white hover:text-red-500 hover:bg-white  gap-2 px-2 py-2 rounded  transition duration-500 hover:outline hover:outline-1 outline-red-500  cursor-pointer">
            <i class="ri-add-line"></i>
            <span>ADD TO CART</span>
        </button>
    </div>


</body>

</html>